Agenda/Agenda/Web References/au.edu.wa.central.mydesign.student/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://student.mydesign.central.wa.edu.au/2016CertIV_8/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://student.mydesign.central.wa.edu.au/2016CertIV_8/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://student.mydesign.central.wa.edu.au/2016CertIV_8/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateItemDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateItemDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMeetingTime_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingTime" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMeetingTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMeetingTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadMeetings_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadMeetings" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadMeetings_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadMeetingsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadMeetingDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadMeetingDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadMeetingDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadMeetingDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadItems_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadItems" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadItemDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadItemDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadItemDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadItemDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItemDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateItemDetails" message="tns:IService1_UpdateItemDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateItemDetailsResponse" message="tns:IService1_UpdateItemDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMeetingTime" message="tns:IService1_UpdateMeetingTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMeetingTimeResponse" message="tns:IService1_UpdateMeetingTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadMeetings">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadMeetings" message="tns:IService1_LoadMeetings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadMeetingsResponse" message="tns:IService1_LoadMeetings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadMeetingDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadMeetingDetails" message="tns:IService1_LoadMeetingDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadMeetingDetailsResponse" message="tns:IService1_LoadMeetingDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadItems" message="tns:IService1_LoadItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadItemsResponse" message="tns:IService1_LoadItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadItemDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadItemDetails" message="tns:IService1_LoadItemDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadItemDetailsResponse" message="tns:IService1_LoadItemDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateItemDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMeetingTime">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMeetingTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMeetings">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadMeetings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMeetingDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadMeetingDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadItems">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadItemDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadItemDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://student.mydesign.central.wa.edu.au/2016CertIV_8/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>